.container{
  color: Rebeccapurple;
  background-color: lightcoral;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR90k4nCxtjQfBfsQX9cyvIHRFG7sBeEOqfKsA7exca4oTT9kJh');
  background-repeat: no-repeat;
}
h1 {
  text-align: center;
  background-image: url('');
  color: darkslategrey;
  font-family: monospace;
  font-weight: bolder;
  background-color: lavenderblush;
}
h2 {
  color: Teal;
  background-color: ivory;
  font-weight: bold;
  font-family: fantasy;
  text-align: right;
}
h3 {
  color: aquamarine;
  background-color: lemonchiffon;
  font-family: cursive;
}
.description{
  float: left;
  flex:auto;
  border-radius: 12px;
  text-indent: inherit;
  font-style: oblique;
  font-weight: bold;
}
#submit{
  color: darkgreen;
  background-color: peachpuff;
  text-align: right;
  font-size: 20px;
}
